<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Welcome to Social Media Analysis</h1>
    <div><a href="/posts/analysis">View Post Analysis</a></div>
  </body>
</html>
